a:link{ color:#848992;;
    text-decoration: none}
a:active { color: #FE9015}
a:hover {color: #FE9015;}
#search {
        width: 500px;
        height: 20px;
        color: #FE9015;
    }
.container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    grid-template-rows:80px 1fr 80px;
    height: 100vh;
    grid-template-areas: 
    "upper_info upper_info upper_info upper_info"
    "main_part main_part extra extra"
    "lower_info lower_info lower_info lower_info";
}
.upper_info {
    display: flex;
    grid-area: upper_info;
    justify-content: space-around;
    align-items: center;
}   
.main_part {
    display: grid;
    grid-area: main_part;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content;
    gap: 2rem;
}


.lower_info {
    grid-area: lower_info;
}

h2 {
    grid-row: 1 / 2;
    grid-column: 1 / 4;
    justify-self: center;
    color: grey;
}
.info {
    display: grid;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    margin-left: 50px;
    justify-content: center;
    align-content: space-around;
    padding: 10px;
    
}

.info2 {
    display: grid;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    justify-content: center;
    align-content: space-around;
    padding: 10px;
}


.info3 {
    display: grid;
    grid-row: 3 / 4;
    grid-column: 1 / 4;
    justify-content: center;
    align-content: center;
}

.lower_info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
    align-content: center;
}

.section_lower {
    display: grid;
    justify-content: center;
}

.extra {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-area: extra;
}

.heading {
    justify-self: center;
    grid-column: 1/2;
    grid-row: 1/2;
}
body {
    font-family: 'Montserrat', Arial, sans-serif;

    color:#848992;
}